*{
    margin: 0px;
}
h2
{
    background-color: blue;
    color: white;
    text-align: center;
}
.banner{
    background-image: url("https://www.karunya.edu/sites/default/files/img/images/karunya-campus-view.jpg.pagespeed.ce.IyizWonRVf.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border: 1px solid blue;
}
.about{
    background-color: bisque;
    color: black;
}
.about p{
    text-align: justify;
    padding: 24px;
}
.cse
{
    background-image: url("https://www.karunya.edu/sites/default/files/img/infra/webs/CST-WEB.jpg.pagespeed.ce.dXwXbqqNt_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 33%;
    float: left;
    
    

}
h3{
    text-align: center;
    color: black;
}
.lib
{
    background-image: url("https://www.karunya.edu/sites/default/files/img/2021/Library/LIB-IMG1.jpg.pagespeed.ce.RzO8onmtAP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 33%;
    float: left;
    position: relative;
    

}
.bio
{
    background-image: url("https://www.karunya.edu/sites/default/files/img/infra/webs/BIO-WEB.jpg.pagespeed.ce.d0VYBNwvjE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 33%;
    float: left;
}
.cse h4
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
    opacity: 0.5;
}
.cse h4:hover{
    opacity: 1;
}
.lib h4
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
    opacity: 0.5; 
    position: absolute;
    bottom: 0px;
    width: 100%; 
}
.lib h4:hover{
    opacity: 1;
}
.bio h4
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
    opacity: 0.5;  
}
.bio h4:hover{
    opacity: 1;
}
.camp
{
   background-color: bisque; 
   background-size: cover;
   width: 50%;
   height: 400px;
   float: left;
   
}
.camp h5{
    color: black;
    text-align: center;
    
    
    
}
.camp p{
    color: black;
    text-align: justify;
    padding: 15%;
    
}
.cimg
{
    background-image: url("https://karunya.edu/sites/default/files/img/nanotechnology/nano%20lib%205.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 400px;
    float: left;
}
.bform
{
    background-image: url("https://thumbs.dreamstime.com/b/closeup-nature-view-green-leaf-blurred-greenery-background-garden-copy-space-using-as-background-closeup-nature-view-131724290.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 400px;
}
input[type=text]{
    background-color: yellow;
    color: blue;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
}
