#d1{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 30px;
    }
    #d2{
    background-color: white;
    color: red;
    text-align: center;
    font-size: 30px;
    }